@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #303841;
  --primary-light: #3A4750;
  --secondary: #F3F3F3;
  --alertcolor: #FF9669;
  --logo-color: #2185D5;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Login */
.login {
  height: 60vh;
  width: 25%;
  background-color: var(--primary);
  margin-top: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1vw;
  border: solid 0.2vw var(--logo-color);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.login h1 {
  font-size: 4.5vh;
  margin-bottom: 8vh;
  color: var(--secondary);
}

.login hr {
  width: 100%;
  margin-top: 1vh;
}

.login span {
  font-size: 2vh;
  color: var(--secondary);
}

.login .btn {
  padding: 0px;
  height: 2vw;
  width: 30%;
  margin-top: 3vh;
  left: 0;
  background: var(--secondary);
  border: none;
  outline: none;
  border-radius: 15vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2vh;
  color: #333;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.login .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  border: 2px solid var(--logo-color);
  opacity: 1;
  transition: opacity 0.3s ease;
  animation: neon-animation 1.5s infinite alternate;
}

.login .btn:hover::before {
  opacity: 1;
}

.login .btn:hover {
  color: var(--logo-color);
  box-shadow: 0 0 20px var(--logo-color);
}

.login .input-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login .input-box input {
  width: 60%;
  border-radius: 10vw;
  height: 5vh;
  font-size: 2vh;
  padding: 0px 1vw;
  margin-bottom: 1.5vw;
  border: 2px solid var(--secondary);
}

.login .input-box input:focus {
  border: solid 2px var(--logo-color);
  box-shadow: 0 0 1vh var(--logo-color);
}

.login .input-box i {

  right: 40px;
  margin-top: 3%;
  transform: translateX(-4vh);
  font-size: 2vh;
  color: var(--logo-color)
}

.login .box-login {
  margin-top: 2vh;
  width: 100%;
  display: flex !important;
  justify-content: space-around;
}

.login .box-login span {
  font-size: 1vw;


}

.login .box-login .btn {
  padding-inline: 1vh;
  font-size: 1vw;
  margin: 0 !important;
  width: 40%;
}

#error_login {
  display: none;
  color: var(--alertcolor);
  font-size: 2vh;
  visibility: hidden;
}

/* Login */

/* Cadastro Usuario */
.cadastro-user {
  background-color: var(--primary);
  width: 50%;
  margin-top: 18vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vw;
  opacity: 0;
  transition: opacity 1.5s ease;
  border: solid 0.2vw var(--logo-color);
  overflow: hidden;
}

.cadastro-user h1 {
  color: var(--secondary);
  font-size: 4.5vh;

}

.cadastro-user .container-input {
  display: flex;
  width: 100%;
}

.cadastro-user .left,
.right {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cadastro-user .input-box {
  position: relative;
  width: 100%;
  height: auto !important;
  margin: 5px\ 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cadastro-user .input-box span {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  margin-right: 10%;
  font-size: 2vh;
}

.cadastro-user .input-box input {
  height: 70%;
  width: 60%;
  border: none;
  outline: none;
  margin-left: 15%;
  color: var(--primary);
  border-radius: 40px;
  font-size: 0.7vw;
  padding: 1vh;
  border: 2px solid var(--secondary);
}

.cadastro-user .input-box input:focus {
  border: solid 2px var(--logo-color);
  box-shadow: 0 0 1vh var(--logo-color);
}

.cadastro-user .input-box input[type="date"] {
  cursor: pointer;
  text-align: center;


}

.cadastro-user .input-box input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;

}

.cadastro-user .input-box i {
  position: absolute;
  right: 0px;
  margin-top: 6%;
  transform: translateX(-7vw);
  font-size: 2vh;
  color: var(--logo-color)
}

.cadastro-user .senha-requisitos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--alertcolor);



  align-items: center;
  font-size: 1vw;
}

.cadastro-user .box-cadastro .btn {
  padding: 0px;
  height: 2.5vw;
  width: 30%;
  position: absolute;
  left: 0;
  background: var(--secondary);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2vh;
  color: #333;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-user .box-cadastro .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  border: 2px solid var(--logo-color);
  opacity: 1;
  transition: opacity 0.3s ease;
  animation: neon-animation 1.5s infinite alternate;
}

.cadastro-user .box-cadastro .btn:hover::before {
  opacity: 1;
}

.cadastro-user .box-cadastro .btn:hover {
  color: var(--logo-color);
  box-shadow: 0 0 20px var(--logo-color);
}

.cadastro-user .box-cadastro {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}

#span_senha {
  display: none;
  visibility: hidden;
  color: var(--alertcolor);
}

#valcad {
  color: var(--alertcolor) !important;
  font-size: 2vh;
  margin-bottom: 2vh
}

/* .cadastro-user .s {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

} */

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.valcad {
  opacity: 0;
}

/* -------------------------------------------------------------------------------------------------*/

.cadastro_empresa {
  background-color: var(--primary);
  width: 60%;
  opacity: 0;
  transition: opacity 1.5s ease;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  border-radius: 1vw;
  margin-top: 18vh;
  border: solid 0.2vw var(--logo-color);
  overflow: hidden;
  position: relative;
}
.cadastro_empresa h1 {
  font-size: 4.5vh;
text-align: center;
  color: var(--secondary);
}

.cadastro_empresa .conteudo .right {

  
  width: 40%;
  display: flex;
  height: 95%;
  flex-direction: column;
}

.cadastro_empresa .conteudo .esquerda {
 
  width: 40%;
  height: 95%;
  display: flex;
  flex-direction: column;

}

.cadastro_empresa .conteudo {
 
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  align-items: center;
}

.cadastro_empresa .s {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.cadastro_empresa .conteudo .input-box {
  display: flex;
  flex-direction: column;
}

.cadastro_empresa .conteudo i {
  transform: translate(19.5vw, -2.6vh);
  font-size: 2vh;
}

.cadastro_empresa .conteudo .inneript {
  width: fit-content;
  align-items: self-end;
  margin: auto;
}
.cadastro_empresa .conteudo .inneript span {
font-size: 2vh;
color: var(--secondary);
}

.cadastro_empresa .conteudo #selectcity {
  height: 3.8vh;
  width: 5vw;
  font-size: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  transform: translateX(-0.7vh);
  left: 0;
  font-size: 1.8vh;
}

.cadastro_empresa .conteudo .input-box input {
  height: 3.5vh;
  border-radius: 2vh;
  width: 20vw;
  font-size: 1.8vh;
  padding: 0 1vh;

}
.cidade{
margin-bottom: 2vh;
}
.cidade span{
font-size: 2vh;
color: var(--secondary);
}
.cadastro_empresa .conteudo .cidade_input {
  height: 3.5vh;
  width: 15vw;
  border-top-left-radius: 2vh;
  padding: 0 1vh;
  border-bottom-left-radius: 2vh;
  font-size: 1.8vh;
}

.cadastro_empresa .btn {
  padding: 0px;
  height: 2.5vw;
  width: 22%;
  background: var(--secondary);
  border: none;
  outline: none;
  border-radius: 15vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2vh;
  color: #333;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro_empresa .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  border: 2px solid var(--logo-color);
  opacity: 1;
  transition: opacity 0.3s ease;
  animation: neon-animation 1.5s infinite alternate;
}

.cadastro_empresa .btn:hover::before {
  opacity: 1;
}

.cadastro_empresa .btn:hover {
  color: var(--logo-color);
  box-shadow: 0 0 20px var(--logo-color);
}

body {
  background: linear-gradient(120deg, #000428, #004e92);
  animation: backgroundAnimation 10Ws ease-in-out infinite alternate;
  background-size: 200% 200%; /* Permite o deslocamento da animação */
  animation: backgroundAnimation 8s ease-in-out infinite; /* Animação lenta e suave */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da janela */
  overflow: hidden; /* Evita barras de rolagem desnecessárias */
}

/* Animação do fundo */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
