
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #303841;
  --primary-light: #3A4750;
  --secondary: #F3F3F3;
  --alertcolor: #FF9669;
  --logo-color: #2185D5;
}
header {
  user-select: none !important;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  align-items: center;
  background: transparent;
 background-color: var(--primary);
  box-shadow: 0 0 1vh var(--logo-color);
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 4vw;;
  font-size: 2rem;
  transition: box-shadow 0.2s linear ;
}
header:hover {
  box-shadow: 0 0 3vh var(--logo-color);
}
header ul {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  list-style: none !important;
}
header a {
  cursor: pointer;
  position: relative !important;
  text-decoration: none;
  font-size: 3vh;
  color: var(--secondary);
}
.logo {
  margin-left: 5%;
  margin-right: 15%;
  width: 18%;
  height: 3vw;
}
.logo img {
width: 100%;
height: 100%;

}
.btlog {
  margin-right: 5%;
  margin-left: 25%;
  font-size: 2.5rem;
  margin-top: 0.5%;
  font-size: 5.5vh;
}
header .nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--logo-color);
  transition: width 0.3s ease;
}
header .nav:hover::after {
  width: 100%;
}s
header a .login {
  background-color: red;
}
.nav{
font-size: 1.5vw;

}
.atual{
  font-size: 1.5vw;


}

