@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #363636;
  --secondary: #ddd;
  --logo-color: #0080ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.header {
  background-color: var(--secondary);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
}

.header .navbar {
  display: flex;
  width: inherit;
  justify-content: space-around;
  align-items: center;
}

.header .navbar .navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
}

header .navbar .navbar-links li a {
  color: var(--secondary);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  background-color: var(--secondary);
  color: var(--logo-color);
  box-shadow: 0 3px 15px var(--primary);
  margin-right: 10px;
  font-size: 15px;
  margin: 30px;
  padding: 15px 30px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.botao-header {
  display: flex;
  background-color: var(--secondary);
  color: var(--logo-color);
  box-shadow: 0 3px 15px var(--logo-color);
  margin-right: 10px;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

/* 
.botao-header:hover {
background-color: #45a049;
} */

.header .navbar .logo-link .logo {
  width: 104px;
}

.header .navbar .profile-link .profile {
  width: 36px;
}

.section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 !important;
} 
.slider-containner {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-containner input{
  display: none;
}

.slider-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}
.slider-box img {
  width: 100%;
}
.nav-manual{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid #0080ff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;

} 
.nav-manual .manual-btn:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn :hover{
  background-color: aqua;
}

 


/* 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('./img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.container .container-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: transparent;
  border-radius: 12px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}

.container .container-content .container-message {
  font-weight: 500;
  font-size: 2rem;
  width: 80%;
}

.container .container-content .container-message .container-message-blue {
  color: var(--logo-color);
}

.container .container-content .container-button {
  width: 360px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;

  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--logo-color);
  color: var(--secondary);
}



.container .container-content .container-button:hover {
  scale: 1.1;
  transition: .5s all ease;
}*/

 .footer {
  background-color: var(--primary);
  color: var(--secondary);
  height: fit-content;
  width: 100%;
}

.footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-top: 15px;
}

.footer .footer-top .footer-left {
  display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
}

.footer .footer-top .footer-left a {
  text-decoration: none;
  color: var(--secondary);
}

.footer .footer-top .footer-left ul {
  list-style: none;
}

.footer .footer-top .footer-right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: cente
}

.footer .footer-top .footer-right ul {
  list-style: none;
}

.footer .footer-top .footer-right li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer .footer-top .footer-right img {
  width: 20px;
}

.footer .footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
}

.footer .footer-bottom img {
  width: 102px;
} */

/* serviços */
.social {
  height: calc(fit-content + 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.social .social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centraliza verticalmente */
  align-items: center;
  /* Centraliza horizontalmente */
  width: 80%;
  height: 100%;
  /* Garante que a altura ocupe todo o espaço disponível */
  padding: 20px;
  /* Espaço ao redor do conteúdo */
}

.social .social-container h2{
  color: var(--secondary);
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.social-content{
  padding-bottom: 2em;
  color: var(--secondary);
  width: 85%;
}

.social-content .img{
  display: flex;
  gap: 20px;
}

.social-content .img.img-right{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.social-content .img.img-left{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-content .img img{
  width: 120px;
}

.social-content .diagrama-solucao{
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-content .diagrama-solucao img{
  width: 100%;
}

.social .social-container .social-boxes {
  display: flex;
  flex-direction: row;
  /* As boxes ficam em linha */
  justify-content: center;
  /* Centraliza boxes horizontalmente */
  gap: 50px;
  /* Aumente este valor para mais espaço entre as boxes */
  align-self: center;
  /* Centraliza o grupo de boxes */
}

.box {
  position: relative;
  /* Necessário para o efeito de rotação */
  width: 300px;
  /* Ajuste conforme necessário */
  height: 300px;
  /* Ajuste conforme necessário */
  perspective: 1000px;
  /* Profundidade do efeito 3D */
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Esconde o lado oposto ao girar */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--secondary);
  transition: transform 0.6s;
  /* Efeito suave na rotação */
}

.front {
  z-index: 2;
  /* Mantém a frente acima da parte de trás */
  flex-direction: column;
  /* Empilha logo e texto verticalmente */
  justify-content: flex-start;
  /* Alinha o conteúdo no topo */
  align-items: center;
  /* Centraliza horizontalmente */
  text-align: center;
  /* Centraliza o texto */
  height: 100%;
  /* Garante que ocupe toda a altura da box */
  padding-top: 10px;
  /* Adiciona um espaço no topo para afastar do limite */
}

.back {
  transform: rotateY(180deg);
  /* Gira o verso da box */
}

.box:hover .front {
  transform: rotateY(180deg);
  /* Gira a frente ao passar o mouse */
}

.box:hover .back {
  transform: rotateY(0);
  /* Mostra o verso ao passar o mouse */
}

.box img {
  width: 80%;
  height: 100%;
  max-height: 200px;
  margin-bottom: 5px;
  filter: grayscale(70%) brightness(0);
}

.box h4 {
  color: var(--primary);
  margin: -30px 0 2px 0;
  font-size: 22px;
}

.back p {
  font-size: 1rem;
  letter-spacing: 1.2px;
  line-height: 1.6;
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  padding: 3%;
}

/* sobre nos */
.social-about {
  background-image: url('../img/banner.jpg');
  height: 90vh; 
  
  
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
 
  justify-content: center;/* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */

  /* margin-bottom: 2rem; */
}

.social-about .container-about {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 80%; 
  padding: 20px; /*espaço ao redor do conteúdo que você guilherme quiser implementar*/
}
.social-about .container-about .boxes-about {
  display: flex;
  flex-direction: row; /* fiz as boxes ficarem  em linha */
  justify-content: center; /* centralizei de forma horizontal boxes */
  gap: 20px; 
  align-self: center;
 
}

.box-about { 
  flex: 1; /* Faz a box ocupar espaço proporcionalmente */
  min-width: 400px; 
  max-width: 500px; 
  min-height: 400px;
  /* border-radius: 20px;
  background-color: var(--secondary); 
  box-shadow: 0 4px 20px var(--logo-color);  */
  padding: 30px; 
  justify-content: center;
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  transition: transform 0.9s; 
  perspective: 1000px; 
}


.front-about, .back-about {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--secondary); 
  box-shadow: 0 4px 20px;
  
  display: flex;
  border-radius: 20px;
  align-items: center;
  
  flex-direction: column;
  align-self: center;
  padding: 20px;
}


.back-about {
  transform: rotateY(180deg) rotateX(180deg)
}

.box-about:hover .front-about {
  transform: rotateY(180deg);
   /* Vira a frente ao passar o mouse */
}

.box-about:hover .back-about {
  transform: rotateY(0); /* Mostra a parte de trás ao passar o mouse */
}

.box-about img { 
  width: 200px;
    border-radius: 10px;
    height: 200px;
}

.box-about p {
  margin: 10%;
  color: var(--primary);
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.front-about span{
  color: var(--logo-color);
}

.back-about span {
  color:  var(--logo-color);
}
/* Estilo geral da seção */
.content-about {
  padding: 40px; /* Espaçamento interno */
  background-color: var(--secondary); /* Cor de fundo */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px var(--logo-color0); /* Sombra */
 
}

.content-about span {
  color:  var(--logo-color);
}

/* Estilo do título principal da seção */
.content-about h1 {
  font-size: 2.5em; /* Tamanho da fonte */
  color: var(--primary); /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento inferior */
 
}

/* Estilo dos subtítulos */
.content-about h3 {
  font-size: 1.8em; /* Tamanho da fonte */
  color: var(--primary); /* Cor do texto */
  margin: 20px 0; /* Margem superior e inferior */
}

/* Estilo dos parágrafos */
.content-about p {
  font-size: 1em; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha */
  color: var(--primary); /* Cor do texto */
  margin-bottom: 15px; /* Margem inferior */
}

/* Estilo da lista */
.content-about ul {
  padding-left: 0px; /* Espaçamento interno à esquerda */
  list-style-type: disc; /* Estilo da lista */
}

/* Estilo dos itens da lista */
.content-about ul li {
  margin-bottom: 10px; /* Margem inferior para os itens */
color: var(--primary);
}


 
  


.front-about, .back-about {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde a parte de trás quando não visível */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s;
  flex-direction: column;
}

.back-about {
  background-color: var(--secondary);
  transform: rotateY(180deg); /* Esconde a parte de trás inicialmente, ou seja irá rotacionar pessoal !! */
}

.box-about img { 
  width: 60px;
  border-radius: 10px;
  height: 60px;
}

.box-about h2 {
  color: var(--secondary);
  /* text-shadow: 0 0 5px var(--logo-color), 0 0 10px var(--logo-color), 0 0 15px var(--logo-color); */
  margin-top: 20px;  /* Remove margens para alinhamento */
}

.box-about p {
  margin: 10%;
  color: var(--primary);
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container-about h2{
  color: var(--primary);
  width: 100%;
  text-align: center;
  
}


.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: var(--secondary); */
  background-color: white;
  margin: 5%;
  margin-bottom: 5%;
  
 
}



.team-cards  h2 {
  color: var(--primary);
  width: 100%;
  text-align: center;
  margin: 5%

  
}


.cards {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
  border: 2px solid rgba(255, 255, 255, 0.7); /* Borda suave com cor branca e opacidade */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.cards:hover .card-inner {
  transform: rotateY(180deg);
}

.team-cards .cards .img_int {
  width: 100%; 
  height: 200px; 
  object-fit: cover; /* Corta a imagem para preencher o espaço */
  border-radius: 10%; 
  border: 2px solid rgba(255, 255, 255, 0.7); 
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);

}

.card-front, .card-back {
  position: absolute;
  width: 100%;

  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 20%;
}

.card-front {
  background-color: var(--primary);
  padding: 10%;
}

.card-back {
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
  padding: 10%;
  transform: rotateY(180deg);
  
 
}


.card .img .back {
  width: 10px;
  padding: 10px;
  
  
}
.card .img .front {
  width: 100%;
  height: auto;
}

.card-social a {
  margin: 10px;
  text-decoration: none;
  color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.card-social a:hover {
  color: var(--logo-color)
}

/* infos */
.about-content{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  line-height: 2.5rem;
}

.about-content span{
  color: var(--logo-color);
}

.about-content ul{
  /* list-style: none; */
  margin-left: 5%;
}

/* endereco */
.endereco{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.endereco .mapa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}