.dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.grafico-direita{
    width: 100%;
}

.grafico-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.grafico-esquerda span{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}