/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */
.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
  color: white;
}

.dash .div_animacao{
  margin-left: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dash .indicadores{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.dash .indicadores .indicador{
  border: 1px solid #0055ff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dash .indicadores .indicador span{
  font-size: 1.5rem;
}

.dash #graficos{
  width: 80% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dash #graficos canvas{
  width: 100%;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #5100ff;
  background-color: #212124;
}

@keyframes neon-border {
  0% {
    border-right-color: #0095ff; /* Azul */
    box-shadow: 0 0 0px #0095ff, 0 0 10px #0095ff, 0 0 0px #0095ff;
  }
  50% {
    border-right-color: #ffffff; /* Rosa */
    box-shadow: 0 0 0px #ffffff, 0 0 10px #ffffff, 0 0 0px #ffffff;
  }
  100% {
    border-right-color: #0055ff; /* Azul */
    box-shadow: 0 0 0px #0055ff, 0 0 10px #0055ff, 0 0 0px #0055ff;
  }
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #5100ff;
  background-color: #212124;
  animation: neon-border 3s ease-in-out infinite;
}


.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #005ce6;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #005ce6;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #fdfdfd;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.logo {
  width: 190px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

/* Neon effect for buttons */
.dash-right .avisos .div-form button,
.publicacao-btn-editar,
.btn-chart,
.btn-nav,
.btn-nav-white,
.btn-logout {
  position: relative;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #212124;
  border: 2px solid #00a1e6;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
  overflow: hidden;
  z-index: 1;
}

.dash-right .avisos .div-form button:hover,
.publicacao-btn-editar:hover,
.btn-chart:hover,
.btn-nav:hover,
.btn-nav-white:hover,
.btn-logout:hover {
  color: white;
  background-color: #0080FF;
  box-shadow: 0 0 5px #0068e6, 0 0 5px #0068e6, 0 0 10px #0068e6;
}

.dash-right .avisos .div-form button::before,
.publicacao-btn-editar::before,
.btn-chart::before,
.btn-nav::before,
.btn-nav-white::before,
.btn-logout::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(230, 0, 90, 0.1), rgba(50, 185, 205, 0.2));
  transform: rotate(45deg);
  transition: all 0.3s;
  z-index: -1;
}

.btn-nav-white.active{
  color: white;
  background-color: #0080FF;
  box-shadow: 0 0 5px #0068e6, 0 0 5px #0068e6, 0 0 10px #0068e6;
}

.btn-nav {
  background-color: #252525;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-nav button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
}

.btn-nav h3 {
  margin: 0;
  padding: 10px 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: fit-content }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.cadastro-user {
  margin-left: 30%;
  background-color: var(--primary);
  width: 50%;
  margin-top: 18vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vw;
  opacity: 1;
  border: solid 0.2vw var(--logo-color);
  overflow: hidden;
  padding: 10px 20px;
}

.cadastro-user h1 {
  color: var(--secondary);
  font-size: 4.5vh;

}

.cadastro-user .container-input {
  display: flex;
  width: 100%;
}

.cadastro-user .left,
.right {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cadastro-user .input-box {
  position: relative;
  width: 100%;
  height: auto !important;
  margin: 5px\ 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cadastro-user .input-box span {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  margin-right: 10%;
  font-size: 2vh;
}

.cadastro-user .input-box input {
  height: 70%;
  width: 60%;
  border: none;
  outline: none;
  margin-left: 15%;
  color: var(--primary);
  border-radius: 40px;
  font-size: 0.7vw;
  padding: 1vh;
  border: 2px solid var(--secondary);
}

.cadastro-user .input-box input:focus {
  border: solid 2px var(--logo-color);
  box-shadow: 0 0 1vh var(--logo-color);
}

.cadastro-user .input-box input[type="date"] {
  cursor: pointer;
  text-align: center;


}

.cadastro-user .input-box input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;

}

.cadastro-user .input-box i {
  position: absolute;
  right: 0px;
  margin-top: 6%;
  transform: translateX(-7vw);
  font-size: 2vh;
  color: var(--logo-color)
}

.cadastro-user .senha-requisitos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--alertcolor);
  align-items: center;
  font-size: 1vw;
}

.cadastro-user .box-cadastro .btn {
  padding: 0px;
  height: 2.5vw;
  width: 30%;
  position: absolute;
  left: 0;
  background: var(--secondary);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2vh;
  color: #333;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-user .box-cadastro .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  border: 2px solid var(--logo-color);
  opacity: 1;
  transition: opacity 0.3s ease;
  animation: neon-animation 1.5s infinite alternate;
}

.cadastro-user .box-cadastro .btn:hover::before {
  opacity: 1;
}

.cadastro-user .box-cadastro .btn:hover {
  color: var(--logo-color);
  box-shadow: 0 0 20px var(--logo-color);
}

.cadastro-user .box-cadastro {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}

#span_senha {
  display: none;
  visibility: hidden;
  color: var(--alertcolor);
}

#valcad {
  color: var(--alertcolor) !important;
  font-size: 2vh;
  margin-bottom: 2vh
}

/* .cadastro-user .s {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

} */

.hidden {
display: none;
opacity: 0;
transition: opacity 0.5s ease, height 0.5s ease;
}

.valcad {
opacity: 0;
}

body {
background-image: url('../img/fundo_suporte.jpg');
/* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
background-size: cover;
/* Faz com que a imagem ocupe todo o fundo */
background-repeat: no-repeat;
/* Impede que a imagem se repita */
background-attachment: fixed;
/* Faz o fundo permanecer fixo ao rolar a página */
}